<script id="template_filter_cases" type="text/x-handlebars-template">
  template content
</script>


<script id="notice_success"type="text/x-handlebars-template">
  <div class="alert alert-success">
    {{msg}}
  </div>
</script>

<script id="notice_error"type="text/x-handlebars-template">
  <div class="alert alert-error">
    {{msg}}
  </div>
</script>




